<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>JPG</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!--erro 100--> 
    <error-page>
        <error-code>100</error-code>
        <location>/paginasDeErro/100.html</location>
    </error-page>
    <!--erro 200-->
    <error-page>
        <error-code>200</error-code>
        <location>/paginasDeErro/200.html</location>
    </error-page>
    <!--erro 201-->
    <error-page>
        <error-code>201</error-code>
        <location>/paginasDeErro/201.html</location>
    </error-page>
    <!--erro 301-->
    <error-page>
        <error-code>301</error-code>
        <location>/paginasDeErro/301.html</location>
    </error-page>
    <!--erro 302-->
    <error-page>
        <error-code>302</error-code>
        <location>/paginasDeErro/302.html</location>
    </error-page>
    <!--erro 303-->
    <error-page>
        <error-code>303</error-code>
        <location>/paginasDeErro/303.html</location>
    </error-page>
    <!--erro 400-->
    <error-page>
        <error-code>400</error-code>
        <location>/paginasDeErro/400.html</location>
    </error-page>
    <!--erro 401-->
    <error-page>
        <error-code>401</error-code>
        <location>/paginasDeErro/401.html</location>
    </error-page>
    <!--erro 403-->
    <error-page>
        <error-code>403</error-code>
        <location>/paginasDeErro/403.html</location>
    </error-page>
    <!--erro 404-->
    <error-page>
        <error-code>404</error-code>
        <location>/paginasDeErro/404.html</location>
    </error-page>
    <!--erro 500-->
    <error-page>
        <error-code>500</error-code>
        <location>/paginasDeErro/500.html</location>
    </error-page>
    <!--erro 503-->
    <error-page>
        <error-code>503</error-code>
        <location>/paginasDeErro/503.html</location>
    </error-page>
    <!--erro 505-->
    <error-page>
        <error-code>505</error-code>
        <location>/paginasDeErro/505.html</location>
    </error-page>
    <!--erro 605-->
    <error-page>
        <error-code>605</error-code>
        <location>/paginasDeErro/605.html</location>
    </error-page>
</web-app>
